/* GLOBAL */
.home-container {
  font-family: "Poppins", sans-serif;
  background-color: #f9fbff;
  color: #1b1c1f;
}

/* HERO SECTION */
.hero-section {
  background: url("https://images.unsplash.com/photo-1572120360610-d971b9d7767c?w=1600")
    center/cover no-repeat;
  padding: 100px 8%;
  border-radius: 12px;
  margin: 20px;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 45, 0.5);
  border-radius: 12px;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  max-width: 600px;
}

.welcome {
  font-size: 0.9rem;
  letter-spacing: 2px;
  opacity: 0.9;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px 0;
}

.sub-text {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.btn-primary {
  padding: 10px 22px;
  background: #ff7f32;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  padding: 10px 22px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}

/* SEARCH BAR */
.search-bar {
  position: relative;
  z-index: 5;
  background: #ffffff;
  padding: 18px;
  border-radius: 12px;
  margin-top: 40px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.search-bar input,
.search-bar select {
  padding: 12px;
  width: 180px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
}

.btn-search {
  background: #ff7f32;
  padding: 12px 20px;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* PROPERTY TYPES SECTION */
.types-section {
  text-align: center;
  padding: 20px 40px;
  
}

.type-grid {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.type-card {
  background: #fff;
  width: 180px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.icon-circle {
  height: 50px;
  width: 50px;
  background: #0f4c81;
  border-radius: 50%;
  margin: auto;
  }

.type-card h3 {
  margin-top: 12px;
  font-size: 1.2rem;
}

/* FEATURED PROPERTIES */
.featured-section {
  text-align: center;
  padding: 60px 40px;
  background: #f3f6ff;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 22px;
  margin-top: 30px;
}

.property-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.property-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.details {
  padding: 16px;
}

.tag {
  background: #0f4c81;
  color: #fff;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 0.8rem;
}

.icons-row {
  display: flex;
  justify-content:space-around;
  margin: 14px 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary-small {
  padding: 6px 14px;
  background: #ff7f32;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }
  .search-bar input,
  .search-bar select {
    width: 100%;
  }
}
