.inquiry-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url("https://images.pexels.com/photos/16191738/pexels-photo-16191738.jpeg")
    center/cover no-repeat;
    opacity: 20%; */
    
}

.inquiry-card {
  width: 380px;
  padding: 30px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
}

.inquiry-card h2 {
  margin-bottom: 10px;
}

.service-name {
  margin-bottom: 15px;
  color: #ffd700;
}

.inquiry-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.inquiry-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #0d6efd;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.inquiry-card button:hover {
  background: #084298;
}

.success {
  color: #00ffae;
  margin-bottom: 10px;
}

.error {
  background: #ffe5e5;
  color: #d32f2f;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 10px;
}
